<style>
    h2 {
        color: white;
        background: #006;
        padding: 6px;
        text-align: center;
    }
    img {
        float: left;
        margin-right: 40px;
        box-shadow: 8px 8px 4px gray;
        height: "200px";
    }
    p {
        margin-top: 24px;
        margin-bottom: 24px;
    }
</style>
<%= link_to "Go Back", subforum_url(@topic.subforum_id)%>


<h2><%= @topic.title %></h2>


<div>

    <p><%= @topic.content %></p>

    <p>
        <%= link_to "Edit", edit_url(@topic.id) %>
    </p>


    <p></p>




    <% Comment.where(topic_id: @topic.id).each do |comment| %>
        <p><hr><br><b><i>User: <%= comment.user%></i></b>
        <br>
        <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp<%= comment.content %>
        </p>
        </div>
    <% end%>

    <h3>Reply:</h3>
    <%=form_tag comments_url(@topic.id) do%>
        <p>User: <input type="text" name="user">
        <p>Content:<br> <textarea name="content" rows="5"cols="100"></textarea></p>
        <p><input type="submit" value="Send"></p>
    </form>
    <% end%>